/*MAIN STYLE SHEET*/
* 
{
  box-sizing: border-box;
}

body 
{
	font-family: Arial, Helvetica, sans-serif;
	/*background-image: url("../images/bkg.jpg");*/
    color: darkblue;
	width: 80%;
	margin: auto;
}

/* Style the header */
.header 
{
  grid-area: header;
  background-color: #b1b1f1;
  opacity: 0.95;
  padding: 30px;
  text-align: center;
  color: darkblue;
  font-size: 35px;
}

/*The chart box*/
#webChart
{

}

/* The grid container */
.grid-container 
{
  opacity: 0.95;
  display: grid;
  grid-template-areas: 
    'header header header' 
    'left right right' 
    'footer footer footer ';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

/* Style the left column */
.left 
{
  grid-area: left;
  text-align: center;
  padding: 10px;
}

/* Style the right column */
.right 
{
  grid-area: right;
  text-align: center;
  padding: 10px;
}

/* Style the footer */
.footer 
{
  grid-area: footer;
  background-color: #b1b1f1;
  opacity: 0.95;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: darkblue;
}


.title
{
	display: inline;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) 
{
	body
	{
		width: 100%;
	}
	
	.grid-container  
	{
    opacity: 0.95;
	display: grid;
	grid-template-areas: 
      'header'
	  'right' 
	  'left'	         
      'footer';
	}
	
	#webChart
	{
		width: auto;
		height: auto;
		max-width: 750px;
	}
	
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) 
{
	body
	{
		width: 100%;
	}
	
	.grid-container  
	{
    opacity: 0.95;
	display: grid;
	grid-template-areas: 
      'header'
	  'right' 
	  'left'	         
      'footer';
	}
	
	#webChart
	{
		width: auto;
		height: auto;
		max-width: 550px;
	}
	
}